@charset "UTF-8" ;

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
*:root{
    --color0:
    --color1:
    --color2:
    --color3:
    --color4:
    --color5:
    --color6:
}
header{
    max-height: 40vw;
    max-width: 100vw;
    background-color:rgba(143, 3, 131) ;
    padding: 200px;
}
nav{
    padding: 15px;
    background-color: black;
}
nav > input#pesquisa{
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 80vw;
    text-align: left;
}
a.iconconta{
    border-radius: 50px;
}
a.menunav{
    margin: 20px;
    padding: 15px;
    text-align: center;
}
a.menunav:hover{
    background-color: crimson;
    border-radius: 8px;
}
main{
    background-image: linear-gradient(to bottom, purple, to black  );
    height: 2500px;
}
section{
    background-image: linear-gradient(to bottom,purple,black);
    display: flex;
    flex-direction: row;
}
div.homepags{
    margin: 30px;
    padding: 50px;
    max-width: 200px;
    max-height: 200px;
    background-color: rgba(0, 0, 0, 0.123);
    color: white;
    flex: auto;
}
h1.titlehomepags{
    text-align: center;
    font-size: 30px;

}
div#fetiches{
    padding: 40px;
}
p#pfetiches{
    font-size: 20px;
}
button#buttonchamativo{
    padding: 15px;
    background-color: palevioletred;
    border-radius: 20px;
}
button#buttonchamativo:hover{
    transition-duration: 1.5s;
    padding: 25px;
    
}
footer{
    background-color: rgb(53, 21, 49);
}

